# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/


# VSCode settings
.vscode/

# MacOS system files
.DS_Store

# Logs
*.log


# PyCharm
.idea/

# Cache
*.egg-info/
dist/
build/

# Streamlit local config
.streamlit/

# Test / coverage files
.coverage
coverage.xml
htmlcov/
